@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dis1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.main-component1{
    width: 900px;
    max-height: 900vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(210, 210, 210);
    border-radius: 8px;
}

.create-page-tit {
    font-family: "Roboto", sans-serif;
    width: 900px;
    height: 20vh;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 50px 50px white;
    display: flex;
    font-size: 25px;
}

.get-started-btn{
    margin-top: 8%;
    margin-bottom: 3%;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 19px;
    cursor: pointer;

}

.multiple-button{
    width: 300px;
    height: 50px;
    display: flex;
    margin-top: 5%;
}

.buttons-div{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 100%;
}

.buttons-div button{
    border-radius: 50%;
    border: 1.6px solid #3adb32;
    height: 40px;
    width: 40px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-div button:hover{
    border: 1.6px solid #15b200;
}

.fixed-button{
    width: 50px;
    height: 100%;
}

.move-button{
    width: 200px;
    height: 100%;

}

.source-button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.icon{
    cursor: pointer;
    opacity: 70%;
}

.icon:hover{
    opacity: 100%;
}

.head-top{
    height: 300px;
    width: 100%;
}

.blog-title{
    font-family: "Roboto", sans-serif;
    height: 100px;
    font-size: 42px;
    font-weight: 800;
    width: 100%;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    letter-spacing: 1px; 
  }

.blog-subtext{
        font-family: "Lora", serif;
        height: 120px;
        font-size: 24px;
        width: 90%;
        font-style: italic;
        padding: 10px;
        resize: none;
        color: rgb(108, 108, 108);
        border: none;
        outline: none; 
        margin-left: 4%;
        letter-spacing: 1px;
}

.blog-main{
    border: none;
    height: 100%;
    width: 100%;
}

.blog-content-img{
    margin-top: 8%;
    max-height: 466px;

}
.blog-content-img img{
    max-height: 466px;
    max-width: 600px;
    margin-left: 14%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blog-content-code {
    margin: 3% 3% 0 13%;
    width: 600px;
    border: none;
    height: 250px;
    border-radius: 10px;
}
.blog-content-code textarea{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.8px;
    width: 100%;
    border: none;
    resize: none;
    height: 100%;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(235, 235, 235);
    font-size: 18px;
}
.blog-content-sub{
    margin-top: 8%;
    margin-left: 4%;
    height: 55px;
    border: none;
    max-height: 100px;
}
.blog-content-sub textarea{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    width: 100%;
    border: none;
    resize: none;
    height: 100%;
    outline: none;
}
.blog-content-para{
    margin-top: 3%;
    margin-left: 8%;
    height: 300px;
    border: none;
}
.blog-content-para textarea{
    font-family: "Lora", serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    width: 100%;
    border: none;
    resize: none;
    height: 100%;
    outline: none;   
}
